// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

//body font
$font-family-base:        Georgia, serif;
$text-color:			  #6f6f6f;			

$navbar-border-radius:  0;

// Jumbotron
$jumbotron-bg: #68bec2;
$border-radius-large: 0;

// Buttons

$brand-warning: #ff7a7a;
$btn-border-radius-base: 16px;